@{
    ViewData["Title"] = "Home";
}


<main>
    <div class="p-4 pageContainer">
        <br id="about"/>
        <div class="sectionContainer my-5">
            <section class="m-2 row justify-content-center">
                <h1>About</h1>
                <hr />
                <div class="col-md-3 sectionImage">
                    <img src="/assets/Gene.jpg" alt="me" class=".sectionImage" />
                </div>
                <div class="col-md-9 sectionText">
                    <p class="m-2 p-1">
                        I am a Full Stack Web Developer that is currently attending Centriq Training to learn the principles of modern web design. I
                        have been coding for 10 years and have been trained in the use of HTML, CSS, JavaScript, C#, Java, and SQL. It is my goal to
                        join the world of video game development and to work on an MMO. I currently work as an IT support technician and have a
                        passion for working with computers.
                        <br />
                        <br />
                        <br />
                        <span style="float: right"> ~Gene Cathcart</span>
                    </p>
                </div>
            </section>
        </div>

        <br id="portfolio" />

        <div class="sectionContainer my-5">
            <secition class="m-2 row justify-content-center">
                <h1>Portfolio Projects</h1>
                <hr />
                <table id="projectsTable" class="table table-light table-bordered table-striped t-5">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Languages</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Dungeon App</td>
                            <td>C#</td>
                            <td><a href="https://github.com/Ecthcrt3/DungeonApp" target="_blank" rel="noreferrer">Github</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Static Personal Site</td>
                            <td>HTML, CSS, JavaScript</td>
                            <td><a href="https://github.com/Ecthcrt3/PersonalSiteV2" target="_blank" rel="noreferrer">Github</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Storefront</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>ToDo API</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>React ToDo</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>SAT</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </secition>
        </div>

        <br id="resume" />

        <div class="sectionContainer my-5">
            <secition class="m-2 row justify-content-center">
                <h1>Resume</h1>
                <hr />
                <iframe src="/assets/GeneCathcartResumeIT.pdf" frameborder="0" width="90%" height="100%"></iframe>
            </secition>
        </div>

        <br />

        <div class="sectionContainer my-5">
            <secition class="m-2 row justify-content-center">
                <h1>Useful Links</h1>
                <hr />
                <div class="row">
                    <article class="beefup m-1" id="classmates">
                        <h4 class="beefup__head text-light">Centriq Classmates</h4>
                        <div class="beefup__body">
                            <div class="row justify-content-evenly">
                                <div class="col-sm-12 col-md-5 card classmates">
                                    <img src="/assets/DanAmbro.jpg" alt="Dan Ambro Profile picture" class="card-img-left" />
                                    <div class="card-body">
                                        <h5 class="card-title">Dan Ambro</h5>
                                        <hr />
                                        <p class="card-text">
                                            <a href="http://www.danielambro.com/" class="cardLink" target="_blank">Danielambro.com</a>
                                            <br />
                                            <br />
                                            <a href="#" class="cardLink" >LinkedIn</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-5 card classmates">
                                    <img src="/assets/Zoey-Bateman-Profile.jpg" alt="Zoey Bateman Profile picture" class="card-img-left" />
                                    <div class="card-body">
                                        <h5 class="card-title">Zoey Bateman</h5>
                                        <hr />
                                        <p class="card-text">
                                            <a href="http://www.zoeybateman.com" class="cardLink" target="_blank">Zoeybateman.com</a>
                                            <br />
                                            <br />
                                            <a href="#" class="cardLink">LinkedIn</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-5 card classmates">
                                    <img src="/assets/Corbin-Brown-Profile.jpg" alt="Corbin Brown Profile picture" class="card-img-left" />
                                    <div class="card-body">
                                        <h5 class="card-title">Corbin Brown</h5>
                                        <hr />
                                        <p class="card-text">
                                            <a href="http://corbin-brown.com/" class="cardLink" target="_blank">Corbin-brown.com</a>
                                            <br />
                                            <br />
                                            <a href="https://www.linkedin.com/in/corbin-brown-2b93221b1/" target="_blank" class="cardLink" rel="noreferrer">LinkedIn</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-5 card classmates">
                                    <img src="" alt="Alex Davenport Profile picture" class="card-img-left" />
                                    <div class="card-body">
                                        <h5 class="card-title">Alex Davenport</h5>
                                        <hr />
                                        <p class="card-text">
                                            <a href="" class="cardLink" target="_blank"></a>
                                            <br />
                                            <br />
                                            <a href="#" class="cardLink">LinkedIn</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-5 card classmates">
                                    <img src="/assets/Colson-Donner-Profile.jpg" alt="Colson Donner Profile picture" class="card-img-left" />
                                    <div class="card-body">
                                        <h5 class="card-title">Colson Donner</h5>
                                        <hr />
                                        <p class="card-text">
                                            <a href="http://colsondonnerdev.com/" class="cardLink" target="_blank">Colsondonnerdev.com</a>
                                            <br />
                                            <br />
                                            <a href="https://www.linkedin.com/in/colson-donner-60a803244/" class="cardLink" target="_blank" rel="noreferrer">LinkedIn</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-5 card classmates">
                                    <img src="/assets/Chanel-Dubreuil-profile.jpg" alt="Chanel Dubreuil Profile picture" class="card-img-left" />
                                    <div class="card-body">
                                        <h5 class="card-title">Chanel Dubreuil</h5>
                                        <hr />
                                        <p class="card-text">
                                            <a href="http://www.chaneldubreuil.com " class="cardLink" target="_blank">Chaneldubreuil.com </a>
                                            <br />
                                            <br />
                                            <a href="https://www.linkedin.com/in/chanel-dubreuil-1a3393285/" class="cardLink" target="_blank" rel="noreferrer">LinkedIn</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-5 card classmates">
                                    <img src="/assets/alexerdrich.jpg" alt="Alex Profile picture" class="card-img-left" />
                                    <div class="card-body">
                                        <h5 class="card-title">Alex Erdrich</h5>
                                        <hr />
                                        <p class="card-text">
                                            <a href="http://www.alexerdrich.com" class="cardLink" target="_blank">Alexerdrich.com</a>
                                            <br />
                                            <br />
                                            <a href="https://www.linkedin.com/in/alex-erdrich-ab697a108/" class="cardLink">LinkedIn</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-5 card classmates">
                                    <img src="assets/Robert-Eyre-Profile.jpg" alt="Robert Eyre Profile picture" class="card-img-left" />
                                    <div class="card-body">
                                        <h5 class="card-title">Robert Eyre</h5>
                                        <hr />
                                        <p class="card-text">
                                            <a href="http://www.roberteyre.com/" class="cardLink" target="_blank">Roberteyre.com</a>
                                            <br />
                                            <br />
                                            <a href="#" class="cardLink">LinkedIn</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-5 card classmates">
                                    <img src="/assets/aidanmcquillan.jpg" alt="Aidan McQuillan Profile picture" class="card-img-left" />
                                    <div class="card-body">
                                        <h5 class="card-title">Aidan McQuillan</h5>
                                        <hr />
                                        <p class="card-text">
                                            <a href="http://www.aidenmcquillan.com" class="cardLink" target="_blank">Aidenmcquillan.com</a>
                                            <br />
                                            <br />
                                            <a href="https://www.linkedin.com/in/aidan-mcquillan-67a245289/" class="cardLink">LinkedIn</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-5 card classmates">
                                    <img src="" alt="Christopher Randall Profile picture" class="card-img-left" />
                                    <div class="card-body">
                                        <h5 class="card-title">Chris Randall</h5>
                                        <hr />
                                        <p class="card-text">
                                            <a href="#" class="cardLink" target="_blank"></a>
                                            <br />
                                            <br />
                                            <a href="#" class="cardLink">LinkedIn</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-5 card classmates">
                                    <img src="" alt="Paul Valenti Profile picture" class="card-img-left" />
                                    <div class="card-body">
                                        <h5 class="card-title">Paul Valenti</h5>
                                        <hr />
                                        <p class="card-text">
                                            <a href="#" class="cardLink" target="_blank"></a>
                                            <br />
                                            <br />
                                            <a href="#" class="cardLink">LinkedIn</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-5 card classmates">
                                    <img src="/assets/Aliciavillegas.jpg" alt="Alicia Villegas Profile picture" class="card-img-left" />
                                    <div class="card-body">
                                        <h5 class="card-title">Alicia Villegas</h5>
                                        <hr />
                                        <p class="card-text">
                                            <a href="http://Aliciavillegas.net" class="cardLink" target="_blank">Aliciavillegas.com</a>
                                            <br />
                                            <br />
                                            <a href="#" class="cardLink">LinkedIn</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-5 card classmates">
                                    <img src="/assets/William-Watts-Profile.jpg" alt="William Watts Profile picture" class="card-img-left" />
                                    <div class="card-body">
                                        <h5 class="card-title">William Watts</h5>
                                        <hr />
                                        <p class="card-text">
                                            <a href="http://williamdwatts.com" class="cardLink" target="_blank">Williamdwatts.com</a>
                                            <br />
                                            <br />
                                            <a href="https://www.linkedin.com/in/william-watts-09a57625b/" target="_blank" class="cardLink" rel="noreferrer">LinkedIn</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="beefup m-1" id="code">
                        <h4 class="beefup__head text-light">Code Help</h4>
                        <div class="beefup__body row justify-content-evenly">
                            <div class="card col-sm-12 col-md-3">
                                <img src="/assets/W3Schools_logo.png" alt="w3 schools logo" class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title"><a href="https://www.w3schools.com" target="_blank" rel="noreferrer">w3schools</a></h5>
                                    <p class="card-text">
                                        This is a fantastic online coding toturial site. It has many toturials that cover many different topics and
                                        languages
                                    </p>
                                </div>
                            </div>

                            <div class="card col-sm-12 col-md-3">
                                <img src="/assets/bootstrap.png" alt="bootstrap logo" class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title"><a href="https://www.getbootstrap.com" target="_blank" rel="noreferrer">getbootstrap</a></h5>
                                    <p class="card-text">
                                        This is the main site for Bootstrap. Here you can download the needed files to use bootstrap and find toturials on
                                        how to use various Bootstrap classes
                                    </p>
                                </div>
                            </div>

                            <div class="card col-sm-12 col-md-3">
                                <img src="/assets/900px-HackerRank_Icon-1000px.png" alt="HackerRank logo" class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title"><a href="https://www.hackerrank.com" target="_blank" rel="noreferrer">hackerrank</a></h5>
                                    <p class="card-text">
                                        This is a site that I persoanally use to teach myself new coding languages. They have many great training courses
                                        and fun coding challenges.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- <article class="beefup m-1" id="resources">
                      <h4 class="beefup__head text-light">Resources</h4>
                      <div class="beefup__body">insert cards here</div>
                    </article>-->
                </div>
            </secition>
        </div>

        <br id="contact" />

        <div class="sectionContainer my-5">
            <secition class="m-2 row justify-content-center">

                <h1>Contact Me</h1>
                <hr />
                    <h2>
                    @ViewBag.ErrorMessage
                    </h2>
                    <hr />


                <div class="text-center">
                </div>

                <div class="row">

                    @Html.Partial("_Contact")

                </div>
            </secition>
        </div>
        
        <br />

        <div class="sectionContainer my-5">
            <h1>What is the next Holiday?</h1>
            <hr />
            <div id="holidayAPI" class="p-2"></div>
        </div>
    </div>
    <footer class="bg-dark text-center p-3">
        <h4>&copy;Genecathcart.com 2023</h4>
    </footer>
</main>

